html {
    background-color: #333;
    width: 100vw;
    height: 100vh;
}
.App {
    display: flex;
    flex-wrap: nowrap;
}
.input-box {
    display: absolute;
    left: 4px;
    height: 20px;
    margin: 50vh 5px auto;
    width: 10%;
    text-align: center;
}
.Board {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    width: 100vh;
    height: 100vh;
    margin-left: 10%;

}
.black-square {
    background-color: #000;
    color: #000;
}
.white-square {
    background-color: #fff;
    background-color: #fff;
}
div {
    margin: 0;
}

@media (max-width: 700px) {
    .App {
        flex-wrap: wrap;
    }
    .input-box {
        display: inline-flex;
        left: 0;
        width: 90%;
        margin: 10% 5%;
    }
    .Board {
        position: absolute;
        bottom: 0;
        width: 100vw;
        height: 100vw;
        margin: auto 0;
    }
}